<!-- 文章新增页面 -->

<%- include("../layouts/header.ejs") %>

<%- include("../layouts/nav.ejs") %>

<div class="container my-5">
  <h1 class="mt-5 mb-4 font-weight-light"><%= postInfo.title %></h1>
  <div><%= postInfo.content %></div>
  <!-- <div class="my-5">
    <span class="text-muted font-weight-light">标签：</span>
    <a href="#" class="badge badge-pill badge-secondary px-2 py-1">
      工作
    </a>
    <a href="#" class="badge badge-pill badge-secondary px-2 py-1">
      生活
    </a>
  </div> -->
  <ul class="nav justify-content-end fixed-bottom pb-4">
    <li class="nav-item">
      <a href="/posts/<%= postInfo._id %>/edit" class="nav-link btn btn-link">Edit</a>
    </li>
    <li class="nav-item">
      <button id="delete" data-id="<%= postInfo._id %>" class="nav-link btn btn-link">
        Delete
      </button>
    </li>
  </ul>
</div>

<%- include("../layouts/footer.ejs") %>
